<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <div class="container">
        <a href="/question" class="btn btn-primary">Perguntar</a>
        <% questions.forEach(question=>{ %>
            <div class="card">
                <div class="card-body">
                    <h3><%= question.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= question.id %>"><button class="btn btn-primary">Saiba mais</button></a>
                </div>
            </div>
        <% }) %> 

    </div>

<%- include('./partials/footer.ejs') %>